/*----------  Elements reset styles  ----------*/
body, h1, h2, h3, h4, h5, h6, p, a
	margin 0 !important
	padding 0 !important
	font-family Helvetica, Arial, sans-serif
	font-weight normal 
	line-height 1.3
	text-size-adjust 100%
	font-smoothing subpixel-antialiased

a
	color #0077cc !important
	text-decoration underline
	span
		color #0077cc
	img
		border 0

table
	border-collapse collapse
	width 100%
	
p
	font-size 14px
	color #333
	text-align left

/*----------  Basci stylus  ----------*/
.outer
	margin 0 auto
	max-width 600px
	width 100%

.h1
	font-size 24px
	color #333333
	text-align left
	line-height 30px

.h2
	font-size 18px
	color #333333
	text-align left
	line-height 24px

.quote
	font-style italic
	color #999999
	
/*----------  Grid  ----------*/
.one-column, .two-columns, .three-columns, .four-columns
	text-align center
	font-size 0

.two-columns, .three-columns, .four-columns
	padding-left 10px
	padding-right 10px

.column
	width 100%
	display inline-block
	vertical-align top
	font-size 14px
	text-align left

.one-column
	.column
		max-width 600px

.two-columns
	.column
		max-width 290px

.three-columns
	.column
		max-width 193px

.four-columns
	.column
		max-width 290px

@media only screen and (max-width 400px)
	.two-columns .column
		max-width 100% !important
	.three-columns .column
		max-width 49.9% !important
	.four-columns .column
		max-width 100% !important
		
@media screen and (min-width 401px) and (max-width 635px)
	.two-columns .column
		max-width 50% !important
	.three-columns .column
		max-width 33.33% !important
	.four-columns .column
		max-width 100% !important