sizes = 2px 4px 8px 12px 16px 24px 32px 48px 64px 96px 128px

for one in sizes

	.mt-{one}
		margin-top one
	.mt-{one}i
		margin-top one !important

	.mr-{one}
		margin-right one
	.mr-{one}i
		margin-right one !important

	.ml-{one}
		margin-left one
	.ml-{one}i
		margin-left one !important

	.mb-{one}
		margin-bottom one
	.mb-{one}i
		margin-bottom one !important

	.mv-{one}
		margin-top one
		margin-bottom one
	.mv-{one}i
		margin-top one !important
		margin-bottom one !important
		
	.mh-{one}
		margin-right one
		margin-left one
	.mh-{one}i
		margin-right one !important
		margin-left one !important

.centered
	text-align center