
.strong
	font-weight bold !important

/*----------  Standart elements  ----------*/
.preheader
	margin-bottom 8px
	margin-top 16px
	.outer
		border-bottom 4px solid $red
	.title // p
		color #666
		font-size 10px
		line-height 1
		margin-bottom 4px
		
.header
	.logo // h1
		color $red
		font-size 40px
	.browser
		text-align right !important
	.browser-link // a
		color #666 !important
		font-size 12px
		
.slider
	.photo
		height 300px
		background-color #333
	table
		text-align center
	.title // h1
		color white
		padding 0 10px !important
	.button
		margin-top 10px
		
.auto
	margin-top 10px
	background #eee
	padding 12px 0
	.title
	.desc
		line-height 1.3
		padding 0 8px !important
	.title // p
		font-size 24px
	.desc
		font-size 12px
		color #666

.benefits
	background #eee
	margin-top 42px
	.benefit__column
		padding 12px
	.benefit // p
		text-align center
		line-height 1.3
		
.footer-header
	margin-top 16px

.footer-footer
	margin-top 16px
	margin-bottom 16px

.footer-header
.footer-footer
	p
		text-align center
		color #999
		font-size 12px
		line-height 1.3
		
a.button-cta
	font-size 14px
	border-bottom-width 4px
	background $red
	color white !important
	text-decoration none
	padding 8px 16px !important
	border-bottom 2px solid $orange
	font-weight bold

.info
	margin 10px 0 24px
	.item-title
		margin 16px 0 32px
		p
			text-align center
			font-size 30px
			line-height 1.3
		a
			text-decoration none
	.item-desc
		margin 36px 0 4px
		p
			margin 12px 0 !important
			display block
			line-height 1.3
			font-size 16px
	.item-cta
		text-align center
		a
			display inline-block

.option
	margin 16px 0
	td
		width 50%
		vertical-align top

.option-thumb
.option-title
.option-desc
.option-price
.option-cta
	text-align center

.option-desc
	margin-bottom 16px
	p
		text-align center

.option-cta
	margin-top 16px
	.button-cta
		display inline-block

.option-thumb
	img
		width 50%
		height auto

.option-title
	margin-top 16px
	p
		display inline-block
		font-size 16px
		line-height 1.5
	a
		font-weight bold

.option-price
	a
		text-decoration none
		display block
	.new
		margin-bottom 4px !important
	span
		color #333
		&.note
			margin-right 6px
		&.eur
			font-size 14px
			margin-left 6px
		&.old
			color #666
			text-decoration line-through
		&.new
			color $price
			font-weight bold
			font-size 21px

.option-title
	margin 20px 0 10px
	a
		display inline-block
		color #333 !important
		font-size 16px
		line-height 1.3
		text-decoration none

.timetable
	width 350px
	box-shadow 0 0 26px -2px rgba(black, 0.2)
	margin 0 auto
	box-sizing border-box
	tr:nth-child(even)
		background #eee
	td
		padding 0 12px