.footer-header
	table.outer: tr
		td.one-column: .column
			p.about-delivery * Плата за доставку не берется, при заказе свыше 83 € при доставке по Таллинну и свыше 150 € при доставке в другие города Эстонии. Стоимость доставки в Финляндию и Швецию рассчитывается согласно прейскуранту транспортной фирмы.

.footer-footer
	table.outer: tr
		td.one-column: .column
			p.about-delivery Вы получили это письмо потому что являетесь нашим клиентом, если вы не хотите в будущем получать подобные письма вы можете отписаться 
				a.unsubscribe-here(href="") здесь