- var data = [{'title':'1000w KLD', 'image':'http://pics2.alpics.info/pics/spares/small/14332359.jpg', 'desc':'Подходит для автомобилей с объёмом двигателя 1000-2400 cm3', 'new':'159', 'old':'265'}, {'title':'1500w KLD', 'image':'http://pics2.alpics.info/pics/spares/small/14332359.jpg', 'desc':'Подходит для автомобилей с объёмом двигателя от 2500 cm3 или с более чем 4 цилиндрами ', 'new':'179', 'old':'290'}]

.info

	table.outer: tr
		td.one-column: .column
			.item-title: a(href="#"): p Обогреватель для двигателя со скидкой -40%
			.item-cta: a.button-cta(href="#") Перейти в каталог

	table.outer: tr
		td.one-column: .column
			.item-desc
				p Система подогрева двигателя имеет встроенный насос, который позволяет жидкости свободно циркулировать по системе и обеспечивает равномерный подогрев. Насос является важным элементом системы и главным отличием от других моделей. Помимо насоса, имеется так же встроенный термостат, который предотвращает перегрев жидкости.
				p 
					b В комплекте: 
					| Устройство подогрева двигателя совместимое с DEFA подключением, крепление шлангов, инструкция по установке и использованию на Эстонском языке.
				p Система электрического подогрева двигателя - это наиболее экологически чистое решение. При начале движения на разогретом двигателе, расход топлива и выбросы в атмосферу уменьшаются до 30%.

	.option: table.outer
		tr
			each one in data
				td: .option-thumb: a(href="#"): img(src="#{one.image}", alt="#{one.title}")
		tr
			each one in data
				td: .option-title: a(href="#") #{one.title}
		tr
			each one in data
				td: .option-desc: p #{one.desc}
		tr
			each one in data
				td: .option-price
					a(href="#").new
						span.note Цена со скидкой
						span.new #{one.new}
						span.eur EUR
					a(href="#").old
						span.note Обычная цена
						span.old #{one.old}
						span.eur EUR
		tr
			each one in data
				td: .option-cta: a.button-cta(href="#") Купить