.slider
	table.outer: tr
		td.one-column: .column
			table: tr
				td
					table.photo(background="http://s14.postimg.org/7f7sb014h/imgo.jpg"): tr: td
						h1.title Твоя машина тоже любит тепло!
						table.button: tr: td: a.button-cta(href="#") Перейти в каталог