doctype transitional
html
	head
		meta(charset="UTF-8")
		title Email for super-groups
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		link(rel="stylesheet", href="css/index.css")
	body
		block content