doctype transitional
html(xmlns='http://www.w3.org/1999/xhtml')
	head
		meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		link(rel='stylesheet', href='css/index.css')
	body
		.header
			//if (gte mso 9)|(IE)
				table(width='600', align='center')
					tr
						td
			table.outer(cellpadding='0', align='center')
				tr
					td.one-column.preheader
						.column
							table(width='100%', cellpadding='10')
								tr
									td
										.paragraph
											| Fork me on 
											a(href='https://github.com/dudeonthehorse/Email', target='_blank')
												span Github
											| . Or use this place for email preheader.
				tr
					td.one-column.logo
						.column
							table(width='100%', cellpadding='0')
								tr
									td(style='padding:0 10px;')
										a(href='https://github.com/dudeonthehorse/Email', target='_blank')
											img(src='https://assets-cdn.github.com/images/modules/logos_page/Octocat.png', width='72', height='60')
				tr
					td.one-column.heading
						.column
							table(width='100%', cellpadding='10')
								tr
									td
										.h1
											| Email Development Framework
										.paragraph by Arthur Koch @dudeonthehorse
			//if (gte mso 9)|(IE)
		.middle
			//if (gte mso 9)|(IE)
				table(width='600', align='center')
					tr
						td
			table.outer(cellpadding='0', align='center')
				tr
					td.cover
						a(href='https://github.com/dudeonthehorse/Email', target='_blank')
							img(src='https://github.com/dudeonthehorse/Email/blob/gh-pages/images/cover.jpg', width='600')
				tr
					td.one-column.content
						.column
							table(width='100%', cellpadding='20')
								tr
									td(style='padding-bottom:10px;')
										.h1 CSS Inliner
										p
											| Используйте
											a(href='http://inliner.cm/', target='_blank')
												span инлайнер
											|  перед использованием верстки на продакшене или непосредственно перед отправкой письма через систему рассылки.
										p.quote
											| «Writing inline CSS can be a pain, so we built a tool that'll do the hard work for you. Just paste your HTML below, and we'll move all your styles inline.»
										div(style='text-align:center;')
											table.button
												tr
													td.button-inner
														a.button-link(href='http://inliner.cm/', target='_blank')
															span Try Inliner
										.h1
											br
											| Email Clients & Web Interfaces Support
										p –  Gmail (web, iOS, android)
										p –  Mail.ru (web, iOS)
										p –  Rambler.ru (web)
										p –  Yandex (web, iOS, android)
										p
											| – 
											a(href='#')
												span And other
										br
										.h1
											| Multicolumns
				tr
					td.two-columns
						//if (gte mso 9)|(IE)
							table(width='100%')
								tr
									td(width='50%', valign='top')
						.column
							table(width='100%', cellpadding='10')
								tr
									td
										table(width='100%', cellpadding='10', bgcolor='#f4f4f4', style='border-radius:4px;')
											tr
												td.paragraph
													| 2 columns
						//if (gte mso 9)|(IE)
							td(width='50%', valign='top')
						.column
							table(width='100%', cellpadding='10')
								tr
									td
										table(width='100%', cellpadding='10', bgcolor='#f4f4f4', style='border-radius:4px;')
											tr
												td.paragraph
													| 2 columns
						//if (gte mso 9)|(IE)
				tr
					td.three-columns
						//if (gte mso 9)|(IE)
							table(width='100%')
								tr
									td(width='33%', valign='top')
						.column
							table(width='100%', cellpadding='10')
								tr
									td
										table(width='100%', cellpadding='10', bgcolor='#f4f4f4', style='border-radius:4px;')
											tr
												td.paragraph
													| 3 columns
						//if (gte mso 9)|(IE)
							td(width='33%', valign='top')
						.column
							table(width='100%', cellpadding='10')
								tr
									td
										table(width='100%', cellpadding='10', bgcolor='#f4f4f4', style='border-radius:4px;')
											tr
												td.paragraph
													| 3 columns
						//if (gte mso 9)|(IE)
							td(width='33%', valign='top')
						.column
							table(width='100%', cellpadding='10')
								tr
									td
										table(width='100%', cellpadding='10', bgcolor='#f4f4f4', style='border-radius:4px;')
											tr
												td.paragraph
													| 3 columns
						//if (gte mso 9)|(IE)
				tr
					td.four-columns(style='padding-bottom:10px;')
						//if (gte mso 9)|(IE)
							table(width='100%')
								tr
									td(width='50%', valign='top')
						.column
							table(width='100%', cellpadding='0')
								tr
									td(width='50%')
										table(width='100%', cellpadding='10')
											tr
												td
													table(width='100%', cellpadding='10', bgcolor='#f4f4f4', style='border-radius:4px;')
														tr
															td.paragraph
																| 2+2 columns
									td(width='50%')
										table(width='100%', cellpadding='10')
											tr
												td
													table(width='100%', cellpadding='10', bgcolor='#f4f4f4', style='border-radius:4px;')
														tr
															td.paragraph
																| 2+2 columns
						//if (gte mso 9)|(IE)
							td(width='50%', valign='top')
						.column
							table(width='100%', cellpadding='0')
								tr
									td(width='50%')
										table(width='100%', cellpadding='10')
											tr
												td
													table(width='100%', cellpadding='10', bgcolor='#f4f4f4', style='border-radius:4px;')
														tr
															td.paragraph
																| 2+2 columns
									td(width='50%')
										table(width='100%', cellpadding='10')
											tr
												td
													table(width='100%', cellpadding='10', bgcolor='#f4f4f4', style='border-radius:4px;')
														tr
															td.paragraph
																| 2+2 columns
						//if (gte mso 9)|(IE)
			//if (gte mso 9)|(IE)
		.footer
			//if (gte mso 9)|(IE)
				table(width='600', align='center')
					tr
						td
			table.outer(cellpadding='0', align='center')
				tr
					td.one-column.contacts
						.column
							table(width='100%', cellpadding='20')
								tr
									td
										.h1
											| Contact Me
											br
											span(style='color:#bababa;') –
										.paragraph
											a(href='dudeonthehorse@gmail.com')
												span dudeonthehorse@gmail.com
										br
										div(align='center')
											table(align='center', cellpadding='10', style='margin:auto;')
												tr
													td
														a(href='https://plus.google.com/u/0/114643441727114040398', target='_blank')
															img(width='24', height='24', src='socicons/google.png')
													td
														a(href='https://vk.com/dudeonthehorse', target='_blank')
															img(width='24', height='24', src='socicons/vkontakte.png')
													td
														a(href='https://www.facebook.com/dudeonthehorse', target='_blank')
															img(width='24', height='24', src='socicons/facebook.png')
													td
														a(href='https://twitter.com/dudeonthehorse', target='_blank')
															img(width='24', height='24', src='socicons/twitter.png')
													td
														a(href='https://github.com/dudeonthehorse', target='_blank')
															img(width='24', height='24', src='socicons/github.png')
				tr
					td.one-column.credits
						.column
							table(width='100%', cellpadding='20')
								tr
									td
										.paragraph
											| Social icons by
											a(href='http://www.socicon.com/', target='_blank')
												span Socicon
											br
											br
											|  You are received this message because I want. Ha-ha-ha-ha!
											br
											a(href='https://github.com/dudeonthehorse/Email', target='_blank')
												span Unsubscribe
			//if (gte mso 9)|(IE)
