.info
	table.outer: tr
		td.one-column: .column
			//- .item-title: p ALVADI поздравляет с Рождеством!
			.item-desc

				p Мы, ALVADI, желаем нашим клиентам и друзьям всего наилучшего, веселых рождественских праздников и процветания в новом году!

				p В связи с праздниками, в интернет-каталоге автозапчастей ALVADI, скидки до -30% на автозапчасти.

				.mt-24

				p.strong.centered Спешите, скидки действуют только до 31 декабря 2015 года.

				.item-cta.mv-24: a.button-cta(href="#") Перейти в каталог запчастей

				p.centered Часы работы ALVADI в праздничные дни

				.timetable.mb-32: table
					tr
						td: p 21 декабря
						td: p 10:00 - 16:00
					tr
						td: p 23 декабря
						td: p 12:00 - 15:00
					tr
						td: p 24 декабря
						td: p Мы закрыты
					tr
						td: p 25 декабря					
						td: p 11:00 - 16:00
					tr
						td: p 28 декабря
						td: p 12:00 - 18:00
					tr
						td: p 29 декабря
						td: p 11:00 - 18:00
					tr
						td: p 30 декабря
						td: p 10:00 - 14:00
					tr
						td: p 28 декабря
						td: p Мы закрыты

				p.strong.centered Заказы через интернет принимаем круглосуточно и без выходных!

			.item-cta.mt-24: a.button-cta(href="#") Перейти в каталог запчастей