extends ../../../layout/email

block content
	table.container: tr: td
		include partials/header
		include partials/welcome
		include partials/go-catalog
		include partials/super-group
		include partials/divider
		include partials/go-catalog
		include partials/benefits
		include partials/footer