/* Newsletter */

body {
    background-color: #f4f4f4;
    margin: 0;
}

.outer {
    margin: 0 auto;
    max-width: 600px;
    width:100%;
}

.middle .outer {
    background-color: #ffffff;
    border-radius:4px;
}

.header,
.middle,
.footer {
    margin:0 10px;
    text-align: center;
    background-color: #f4f4f4;
    table-layout: fixed;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

/* Basic Styles */

a {
    color: #0077cc !important;
    text-decoration: underline;
}

a span {
    color: #0077cc;
}

a img {
    border: 0;
}

div, p, td {
    -webkit-font-smoothing: subpixel-antialiased;
}

table {
    border-collapse: collapse;
}

.h1 {
    font-family: 'helvetica', arial;
    font-size: 24px;
    color: #333333;
    text-align: left;
    line-height: 30px;
}

p,
.paragraph {
    font-family: helvetica, arial;
    font-size: 14px;
    color: #333333;
    text-align: left;
    line-height: 20px;
}

p {
    Margin: 1em 0;
}

.quote {
    font-style: italic;
    color: #999999;
}

.cover {
    padding: 0 0 0 0;
}

.cover img {
    width: 100%;
    height: auto;
    max-width: 600px;
    height: auto;
    display: block;
    border-radius: 4px 4px 0 0;
}

/* Buttons */

.button {
    width:auto !important;
    margin: auto;
}

.button td {
    padding:0;
}

.button-link {
    font-family: helvetica;
    font-size: 14px;
    color:#ffffff !important;
    font-weight: bold;
    text-decoration: none;
    background-color: #333333;
    border:#333333 10px solid;
    border-radius: 25px;
    display: inline-block;
}

.button-link span {
    display: inline-block;
    border-left:#333333 20px solid;
    border-right:#333333 20px solid;
    color:#ffffff;
}

/* Custom CSS */

.contacts .h1 {
    text-align: center;
}

.contacts .paragraph {
    text-align: center;
}

.content {
    padding:0 0 0 0;
}

.credits .paragraph {
    color: #999999;
    font-size: 12px;
    text-align: center;
}

.header .h1 {
    text-align: center;
}

.header .paragraph {
    text-align: center;
    font-size: 11px;
    color:#666666;
}

.logo td {
    text-align: center;
}

/* Multicolumns */

.one-column, .two-columns, .three-columns, .four-columns {
    text-align: center;
    font-size: 0;
}
.two-columns, .three-columns, .four-columns {
    padding-left: 10px;
    padding-right: 10px;
}
.column {
    width: 100%;
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    text-align: left;
}
.one-column .column {
    max-width: 600px;
}
.two-columns .column {
    max-width: 290px;
}
.three-columns .column {
    max-width: 193px;
}
.four-columns .column {
    max-width: 290px;
}

/* Media Queries */

@media only screen and (max-width: 400px) {
    .two-columns .column {
        max-width: 100% !important;
    }
    .three-columns .column {
        max-width: 49.9% !important;
    }
    .four-columns .column {
        max-width: 100% !important;
    }
}
@media screen and (min-width: 401px) and (max-width: 620px) {
    .two-columns .column {
        max-width: 50% !important;
    }
    .three-columns .column {
        max-width: 33.33% !important;
    }
    .four-columns .column {
        max-width: 100% !important;
    }
}