
// special tools
@import 'tools/colors'
@import 'tools/mixins'

// ink
@import 'ink/ink'

// common
@import 'tools/common'

.t
	t()

table.email-header
	border-top 4px solid $red
	margin-top 32px

h1.logo
	color $red

a.browser
	color black
	text-decoration underline
	display block
	text-align right
	margin-top 12px
	
h2.welcome
	text-align center
	line-height 1.25

p.welcome-text
	text-align center
	line-height 1.5
	font-size 16px
	padding 0 10px
	margin-bottom 20px
	
h2.super-group
	margin-top 20px
	a
		color black
		
a.sub-group
	color black

table.group-item
	border-bottom 1px solid #eee

a.more-info
	font-size 10px !important
	font-weight bold !important
	color #efefef !important
	
table.footer-header
	border-top 1px solid rgba(black, .15)
		
table.footer-footer
	margin-top -15px
	
p.about-delivery
	text-align center
	font-size 12px
	line-height 1.25
	color #999
	
table.benefits
	margin-top 20px

p.benefit
	padding 8px 
	text-align center
	border-top 4px solid #ddd

table.divider
	margin-top 32px
	
.maker
	font-weight bold
	font-size 16px
	
.maker-desc
	// 