table.row.benefits: tr
	td.wrapper
		table.four.columns: tr
			td: p.benefit Бесплатный транспорт для заказов от 83 евро *
			td.expander 
	td.wrapper
		table.four.columns: tr
			td: p.benefit Через интернет принимаем заказы круглосуточно
			td.expander
	td.wrapper.last
		table.four.columns: tr
			td: p.benefit Более 100 000 довольных клиентов
			td.expander