table.row.footer-header: tr
	td.wrapper.last
		table.twelve.columns: tr
			td: p.about-delivery * Плата за доставку не берется, при заказе свыше 83 € при доставке по Таллинну и свыше 150 € при доставке в другие города Эстонии. Стоимость доставки в Финляндию и Швецию рассчитывается согласно прейскуранту транспортной фирмы.
			td.expander
table.row.footer-footer: tr
	td.wrapper.last
		table.twelve.columns: tr
			td: p.about-delivery Вы получили это письмо потому что являетесь нашим клиентом, если вы не хотите в будущем получать подобные письма вы можете отписаться 
				a.unsubscribe-here(href="") здесь
			td.expander