table.row: tr
	td.wrapper
		table.four.columns: tr
			td
			td.expander
	td.wrapper
		table.four.columns: tr
			td: table.small-button.alert.radius: tr: td: a(href="#") Перейти в каталог
			td.expander
	td.wrapper.last
		table.four.columns: tr
			td
			td.expander