table.row.email-header: tr
	td.wrapper
		table.six.columns: tr
			td.padding-left: h1.logo ALVADI
			td.expander
	td.wrapper.last
		table.six.columns: tr
			td.padding-right: a.browser(href="http://alvadi.ee") Открыть в браузере
			td.expander