table.row.margin-top: tr
	td.wrapper.last.offset-by-one
		table.twelve.columns: tr
			td: h2.super-group: a(href="#") Двигатели
			td.expander
each item in ['форсунка', 'Цепь привода распредвала', 'Натяжитель цепи', 'Головка цилиндра', 'Преобразователь давления', 'Клапан системы рециркуляции ОГ', 'Головка блока', 'Прокладка головки цилиндра', 'Прокладка крышки клапана', 'Прокладка картера']
	table.row.group-item: tr
		td.wrapper.offset-by-one
			table.seven.columns: tr
				td: a.sub-group(href="#") #{item}
				td.expander
		td.wrapper.last
			table.three.columns: tr
				td: table.tiny-button.alert.radius: tr: td: a.more-info(href="#") Подробнее
				td.expander