table.row: tr
	td.wrapper.last
		table.twelve.columns: tr
			td: h2.welcome Виктор, новые поступления запчастей для Вас!
			td.expander
include divider
each maker in [{'t':'SACHS', 'd': 'Lorem ipsum dolor sit amet.'}, {'t':'PIERBURG', 'd': 'Lorem ipsum dolor sit amet, consectetur.'}, {'t':'TRW', 'd': 'Lorem ipsum dolor sit amet.'}, {'t':'BOSCH', 'd': 'Lorem dolor sit, - Lorem ipsum.'}]
	table.row: tr
		td.wrapper.last.offset-by-one
			table.ten.columns: tr
				td
					span.maker #{maker.t} 
					span.maker-desc - #{maker.d}
				td.expander
include divider