.benefits
	table.outer: tr
		td.three-columns
			each title in ['Бесплатный транспорт для заказов от 83 евро *', 'Заказы через интернет принимаем круглосуточно и без выходных', 'Более 100 000 довольных клиентов']
				.column
					table: tr
						td.benefit__column
							p.benefit #{title}