.preheader
	table.outer: tr
		td.one-column: .column
			table: tr
				td
					p.title ALVADI поздравляет с Рождеством!

.header
	table.outer: tr
		td.one-columns: .column
			table: tr
				td
					h1.logo ALVADI
		td.two-columns: .column
			table.browser: tr
				td
					a.browser-link(href="http://alvadi.ee") Открыть в браузере