.info
	table.outer: tr
		td.one-column: .column
			.item-title: p В ALVADI скидки на автозапчасти -30%
			.item-desc

				p Спешите, скидки на автозапчасти действуют только до 31 декабря 2015 года. 
					strong Количество товаров со скидками ограниченно!

			.item-desc

				p.centered Часы работы ALVADI в праздничные дни

				.timetable.mb-32: table
					tr
						td: p 31 декабря
						td: p 09:00 - 16:00
					tr
						td: p 1 января
						td: p Мы закрыты
					tr
						td: p 2 января
						td: p 10:00 - 15:00

				p.strong.centered Заказы через интернет принимаем круглосуточно и без выходных!

			.item-cta.mt-24: a.button-cta(href="#") Перейти в каталог запчастей