extends ../../../layout/email

block content
	style.
		a { display: block; }
		.body { width: 600px; margin: 2.5rem auto; }

	.body
		h1 2 versions
		a(href="car.html") car
		a(href="no-car.html") no-car