.group-header
	table.outer: tr
		td.one-column: .column
			table: tr
				td 
					p.hint В этих категориях есть товары со скидками

each item in ['http://pics1.alpics.info/pics/spares/small/127390.jpg', 'http://pics1.alpics.info/pics/spares/small/289870.jpg', 'http://pics3.alpics.info/pics/spares/small/107118.jpg', 'http://pics3.alpics.info/pics/spares/small/107024.jpg', 'http://pics2.alpics.info/pics/td/small/e/b/eb057_313911.jpg', 'http://pics1.alpics.info/pics/spares/small/118715.jpg', 'http://pics2.alpics.info/pics/spares/small/105223.jpg', 'http://pics1.alpics.info/pics/td/small/e/0/e0163_970672.jpg', 'http://pics2.alpics.info/pics/spares/small/49345.jpg', 'http://pics1.alpics.info/pics/spares/small/11131.jpg', 'http://pics1.alpics.info/pics/spares/small/49459.jpg', 'http://pics3.alpics.info/pics/spares/small/103001.jpg', 'http://pics2.alpics.info/pics/spares/small/49472.jpg', 'http://pics2.alpics.info/pics/spares/small/190218.jpg', 'http://pics1.alpics.info/pics/spares/small/116833.jpg', 'http://pics2.alpics.info/pics/spares/small/49470.jpg', 'http://pics3.alpics.info/pics/td/small/6/c/6c359_1396105.jpg', 'http://pics1.alpics.info/pics/td/small/0/e/0e359_101685.jpg', 'http://pics2.alpics.info/pics/spares/small/45129.jpg', 'http://pics1.alpics.info/pics/spares/small/131699.jpg', 'http://pics3.alpics.info/pics/td/small/b/a/ba243_2277207.jpg', 'http://pics2.alpics.info/pics/spares/small/101826.jpg', 'http://pics2.alpics.info/pics/spares/small/140050.jpg', 'http://pics2.alpics.info/pics/spares/small/140079.jpg', 'http://pics3.alpics.info/pics/spares/small/125265.jpg', 'http://pics1.alpics.info/pics/spares/small/125605.jpg', 'http://pics1.alpics.info/pics/spares/small/125608.jpg', 'http://pics1.alpics.info/pics/spares/small/276055.jpg', 'http://pics2.alpics.info/pics/spares/small/218000.jpg', 'http://pics3.alpics.info/pics/spares/small/70494.jpg', 'http://pics3.alpics.info/pics/spares/small/124975.jpg', 'http://pics1.alpics.info/pics/td/small/b/f/bf658_1512111.jpg', 'http://pics1.alpics.info/pics/spares/small/121527.jpg', 'http://pics3.alpics.info/pics/spares/small/146312.jpg', 'http://pics2.alpics.info/pics/spares/small/141207.jpg', '']
	.group-item.outer
		table
			tr
				td.column-thumb
					a.thumb-link(href="#")
						img.thumb(src="#{item}", alt="Lorem ipsum dolor sit amet")
				td
					table.right-part
						tr
							td.column-desc
								a(href="#").desc Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet.
						tr
							td.column-cta
								a.button-cta(href="#") Перейти в каталог