.slider
	table.outer: tr
		td.one-column: .column
			table: tr
				td
					table.photo(background="https://images.unsplash.com/photo-1430213501427-c640a8880f78?fit=crop&fm=jpg&h=975&q=80&w=1875"): tr: td
						h1.title Скидки на автозапчасти до 15%
						table.button: tr: td: a.button-cta(href="#") Перейти в каталог