
// special tools
@import 'tools/mixins'

// Ted include
@import '../../../tommy/'

// common
@import 'tools/common'

.preheader
	margin-bottom 8px
	margin-top 16px
	.outer
		border-bottom 4px solid $red
	.title // p
		color #666
		font-size 10px
		line-height 1
		margin-bottom 4px
		
.header
	.logo // h1
		color $red
		font-size 40px
	.browser
		text-align right !important
	.browser-link // a
		color #666 !important
		font-size 12px
		
.slider
	.photo
		height 300px
		background-color #333
	table
		text-align center
	.title // h1
		color white
		padding 0 10px !important
	.button
		margin-top 10px
		
.auto
	margin-top 10px
	background #eee
	padding 12px 0
	.title
	.desc
		line-height 1.3
		padding 0 8px !important
	.title // p
		font-size 24px
	.desc
		font-size 12px
		color #666

.group-header
	margin 32px 0 16px
	padding-left 8px
	.hint
		border-bottom-grey()
		font-size 26px
		line-height 1
		padding-bottom 8px

.group-item
	border-bottom-grey()
	padding 16px 0
	.column-thumb
		width 25%
		padding 0
	.thumb
		width 100%
		height auto

	.right-part
		td
			padding 0 24px !important

	.column-desc
		// 
		padding-bottom 16px
	.desc
		line-height 1.3
		color #333 !important
		text-decoration none
		font-size 16px

	.column-cta
		// 
		padding-bottom 16px
	.button-cta
		font-size 14px
		border-bottom-width 4px
		
.benefits
	background #eee
	.benefit__column
		padding 12px
	.benefit // p
		text-align center
		line-height 1.3
		
.footer-header
	margin-top 16px

.footer-footer
	margin-top 16px
	margin-bottom 16px

.footer-header
.footer-footer
	p
		text-align center
		color #999
		font-size 12px
		line-height 1.3
		
/*----------  Links  ----------*/
a:active, a:visited
	color black !important
	text-decoration none !important

/*----------  Subject  ----------*/
.subject
	margin 32px 0 40px
	.title
		text-align center
		a
			color black !important
			text-decoration none